<i class="spinner-border spinner-border-ls"></i>


<!-- Schedule Content -->
<div class="schedule-cont">
     <div class="row">
          <div class="col-md-12">
          
               <!-- Time Slot -->
               <div class="time-slot">
                    <ul class="clearfix">
                         <li>
                              <a class="timing selected" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing {% if forloop.counter0 < 1 %}selected{% endif %}" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                         </li>
                    </ul>
               </div>
               <!-- /Time Slot -->
               
          </div>
     </div>
</div>
<!-- /Schedule Content -->

<!-- <script>
     toggleActiveClass(todayWeekDay, 'Saturday', $('#toggle_saturday' + loopCounter), $('#slot_saturday' + loopCounter), $('#slot_wrapper_saturday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Sunday', $('#toggle_sunday' + loopCounter), $('#slot_sunday' + loopCounter), $('#slot_wrapper_sunday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Monday', $('#toggle_monday' + loopCounter), $('#slot_monday' + loopCounter), $('#slot_wrapper_monday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Tuesday', $('#toggle_tuesday' + loopCounter), $('#slot_tuesday' + loopCounter), $('#slot_wrapper_tuesday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Wednesday', $('#toggle_wednesday' + loopCounter), $('#slot_wednesday' + loopCounter), $('#slot_wrapper_wednesday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Thursday', $('#toggle_thursday' + loopCounter), $('#slot_thursday' + loopCounter), $('#slot_wrapper_thursday' + loopCounter))
     toggleActiveClass(todayWeekDay, 'Friday', $('#toggle_friday' + loopCounter), $('#slot_friday' + loopCounter), $('#slot_wrapper_friday' + loopCounter))
</script> -->



<!-- Schedule Header -->
<div class="schedule-header">
     <div class="row">
          <div class="col-md-12">
          
               <!-- Day Slot -->
               <div class="day-slot">
                    <ul>
                         <li class="left-arrow">
                              <a href="#" class="">
                                   <i class="fa fa-chevron-left"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-danger">
                                   <span>Sat</span>
                                   <i class="fa fa-toggle-on fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Sun</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Mon</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Tue</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Wed</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Thu</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="">
                              <a href="#" class="text-info">
                                   <span>Fri</span>
                                   <i class="fa fa-toggle-off fa-lg"></i>
                              </a>
                         </li>
                         <li class="right-arrow">
                              <a href="#">
                                   <i class="fa fa-chevron-right"></i>
                              </a>
                         </li>
                    </ul>
               </div>
               <!-- /Day Slot -->
               
          </div>
     </div>
</div>
<!-- /Schedule Header -->


<!-- Schedule Content -->
<div class="schedule-cont">
     <div class="row">
          <div class="col-md-12">
          
               <!-- Time Slot -->
               <div class="time-slot">
                    <ul class="clearfix">
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing selected" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                         <li>
                              <a class="timing" href="#">
                                   <span>9:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>10:00</span> <span>AM</span>
                              </a>
                              <a class="timing" href="#">
                                   <span>11:00</span> <span>AM</span>
                              </a>
                         </li>
                    </ul>
               </div>
               <!-- /Time Slot -->
               
          </div>
     </div>
</div>
<!-- /Schedule Content -->