<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% if request.user.gender == 'Male' %}{% static 'img/male_profile.png' %}{% else %}{% static 'img/female_profile.png' %}{% endif %}{% endif %}" alt="User Image">
      </a>
      <div class="profile-det-info">
        <h3>{{ request.user.get_full_name|title }}</h3>
        <div class="patient-details">
          <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li class="active">
          <a href="{% url 'blog:dashboard' %}">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'blog:dashboard_posts' %}">
            <i class="fas fa-calendar-check"></i>
            <span>Posts</span>
          </a>
        </li>
        <li>
          <a href="{% url 'blog:profile' request.user.id %}">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        <li>
          <a href="index.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>