{% extends 'sidebar.html' %}
{% load static %}
{% block title %}
Change Password
{% endblock title %}
{% block breadcrumb %}
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'patient:patient_dashboard_view' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Change Password</a></li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">
          Chnage Password
        </h2>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumb %}
{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <!-- Change Password Form -->
          <form method="POST" action=".">
            {% csrf_token %}
            {# {{ form }} #}
            {% for field in form %}
            <div class="form-group">
              {{ field.label }}
              {{ field }}
              {{ field.help_text }}
              {{ field.errors }}
            </div>
            {% endfor %}
            <div class="submit-section">
              <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
            </div>
          </form>
          <!-- /Change Password Form -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block pagelevel_styles %}
     <style>
          .errorlist{
               color: red;
          }
     </style>
{% endblock pagelevel_styles %}